@model LoginViewModel

<form method="post" action="@Url.Action("Login")">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="text" name="@nameof(LoginViewModel.Email)" class="form-control" id="email">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input type="password" name="@nameof(LoginViewModel.Password)" class="form-control" id="password">
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">SIGN IN</button>
    </div>
</form>

<a asp-action="Register" asp-controller="Account">Registration</a>