@model FilmsViewModel

<div class="d-flex align-content-center flex-wrap">
    @foreach (var item in Model.Films)
    {
        <div class="card" style="width: 20rem;">
            <img src="@item.ImgUrl" class="img-responsive" alt="@item.Name">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
            </div>
            <div class="card-footer">
                <div class="d-grid gap-2">
                    <a class="btn btn-primary stretched-link" href="~/Films/Film?id=@item.Id" role="button">Buy</a>
                </div>
            </div>
        </div>
    }
</div>